ad{
    display: block;
    text-align: center;
    margin-left: 600px;
    padding: 8px 25px;
    margin-right: 600px;
    background-color: rgb(203, 233, 233);
    border: solid black 1px;
}
label{font-weight: bold;color:red}
h1{text-align: center;display: block;color: blueviolet;font-size: 20px;}
usn{font-size: 16px;color: cornflowerblue;}
name{font-size: 16px;color: cornflowerblue}
college{font-size: 16px;color: cornflowerblue}
branch{font-size: 16px;color: cornflowerblue}
year{font-size: 16px;color: cornflowerblue}
email{font-size: 16px;color: cornflowerblue}
